$themecolor: #8147CD;
$headerHeight: 80px;
$headerWidth: 80px;
$paddingBlock: 12px;

$fontFamily: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

$fontNormalSize: 16px;
$fontColor: #5e6d82;

$borderColor: #ebebeb;

$backgroundImg: url(./default/icons/logo.gif);